@{
    ViewBag.Title = "Home";
}

    <div class="jumbotron">

            <div class="text-center"><a style="font-size:25px" href="/Jugar/Index" class="btn btn-primary btn-lg">Jugar &raquo;</a></div>

    </div>
