@model Preguntas.Models.Dominio.ViewModels.Preguntas.PreguntaViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @Model.JuegosDisponibles
        @Model.Nombre
        @Model.Puntaje
    </div>
</body>
</html>
